footer.section
  nav.navbar
    .navbar-brand
      a.nav-item(href="mailto:hello@justus.pw") E-Mail
      a.nav-item(href="https://twitter.com/justuswilhelm") Twitter
      a.nav-item(href="https://github.com/justuswilhelm") GitHub
