<nav class="row">
  <ul class="twelve columns">
    <li>
      <a href="{{ url_for('index') }}">
        Index</a>
    </li>
    <li>
      <a href="{{ url_for('projects') }}">
        Projects</a>
    </li>
    <li>
      <a href="{{ url_for('blog_index') }}">
        Blog</a>
    </li>
    <li>
      <a href="https://twitter.com/justuswilhelm">
        Twitter</a>
    </li>
    <li>
      <a href="https://github.com/justuswilhelm">
        GitHub</a>
    </li>
    <li>
      <a href="mailto:hello@justus.pw">
        ✉️E-Mail</a>
    </li>
    <li>
      <a href="{{ url_for('static', filename='justusperlwitz-pub.asc') }}">
        🗝PGP</a>
    </li>
  </ul>
</nav>
