nav.nav
  div.nav-left
    a.nav-item(href="#{url_for('index')}") Justus Perlwitz
  div.nav-right
    a.nav-item(href="#{url_for('blog')}") Blog
    a.nav-item(href="https://twitter.com/justuswilhelm") Twitter
    a.nav-item(href="https://github.com/justuswilhelm") GitHub
    a.nav-item(href="mailto:hello@justus.pw") E-Mail
