nav.navbar
  .navbar-brand
    a.nav-item(href="#{url_for('index')}") Justus Perlwitz
    a.nav-item(href="#{url_for('blog')}") Blog
    a.nav-item(href="mailto:hello@justus.pw") E-Mail
  .navbar-menu
    a.nav-item(href="https://twitter.com/justuswilhelm") Twitter
    a.nav-item(href="https://github.com/justuswilhelm") GitHub
