<div class="three columns">
  <a href="#{{ possession.id }}">
    <h3>
      {{ possession.name }}
    </h3>
  </a>
  <dl>
    <dt>
      Brand
    </dt>
    <dd>
      {{ possession.brand }}
    </dd>
    <dt>
      Purchased
    </dt>
    <dd>
      {% if possession.purchased %}
        {{ possession.purchased }}
      {% else %}
        Unknown
      {% endif %}
    </dd>
    <dt>
      Last Used
    </dt>
    <dd>
      {% if possession.last_used %}
        {{ possession.last_used }}
      {% else %}
        Unknown
      {% endif %}
    </dd>
    {% if possession.included_with %}
      <dt>
        Included With
      </dt>
      <dd>
        <a href="#{{ possession.included_with }}">This</a>
      </dd>
    {% endif %}
  </dl>
</div>
