{% extends "site_base.html" %}
{% block title %}
  | {{ meta.title }}
{% endblock title %}
{% block header %}
{% endblock header %}
{% block nav %}
  <nav class="twelve columns">
    <a href="{{ url_for('blog') }}">
      &lt; Return to blog index
    </a>
  </nav>
{% endblock nav %}
{% block content %}
  <article class="twelve columns">
    <h1>
      {{ meta.title }}
    </h1>
    <p>
      {{ content|safe }}
    </p>
    <dl>
      <dt>
        Date created:
      </dt>
      <dd>
        {{ meta.created }}
      </dd>
      {% if meta.modified %}
        <dt>
          Date modified:
        </dt>
        <dd>
          {{ meta.modified }}
        </dd>
      {% endif %}
    </dl>
    <p>
      You are more than welcome to share your thoughts via
      <a href="mailto:hello@justus.pw">
        email</a>.
      Thanks!
    </p>
  </article>
  <nav class="eight columns">
    <a href="{{ url_for('blog') }}">
      &lt; Return to blog index
    </a>
  </nav>
{% endblock content %}
