{% extends "site_base.html" %}
{% block title %}
  | {{ meta.title }}
{% endblock title %}
{% block header %}
{% endblock header %}
{% block nav %}
  <nav class="eight columns offset-by-two">
    <a href="{{ url_for('blog_index') }}">
      &lt; Return to blog index
    </a>
  </nav>
{% endblock nav %}
{% block content %}
  <article class="eight columns offset-by-two">
    <h1>
      {{ meta.title }}
    </h1>
    <p>
      {{ content|safe }}
    </p>
    <dl>
      <dt>
        Date created:
      </dt>
      <dd>
        {{ meta.created }}
      </dd>
      {% if meta.modified %}
        <dt>
          Date modified:
        </dt>
        <dd>
          {{ meta.modified }}
        </dd>
      {% endif %}
    </dl>
    <p>
      You are more than welcome to share your thoughts and comments below or via
      <a href="mailto:hello@justus.pw">
        email</a>.
      Thanks!
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
      this.page.url = "http://justus.pw/blog/{{ meta.created }}" +
        "-{{ meta.title }}.html";
      this.page.identifier = "{{ meta.created }}";
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://justusperlwitz.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
  </article>
  <nav class="eight columns offset-by-two">
    <a href="{{ url_for('blog_index') }}">
      &lt; Return to blog index
    </a>
  </nav>
{% endblock content %}
