extends site_base.pug

block content
  section.section
    .container
      .columns
        .column.is-6.is-offset-3
          .content
            ul
              li
                a(href="#{url_for('landing', entry='sqc')}")
                  Software Quality Consulting
