extends site_base.pug

block content
  section.section
    .container
      .columns
        .column.is-6.is-offset-3
          .content
            for entry in entries
              ul
                li
                  a(href="#{url_for('landing', slug=entry.slug)}")
                    =entry.name
