extends site_base.pug

block content
  section.hero
    .hero-body
      .container.has-text-centered
        h1.title
          strong.
            Your Future Made Rock Solid
        h2.is-hidden-mobile I make reliable software, reliably
        img.column.is-3.is-hidden-mobile(src="/static/lock.svg")
  section
    .container
      .columns
        .column.is-6.is-offset-3
          .content
            h2.is-2.has-text-centered Software Quality Consulting
      .columns
        .column.is-6.is-offset-3
          .content
            p.has-text-justified.
              Have bugs cost your company time, money and productivity? Do you
              need to write secure and reliable software, but don't know where
              to start?
              My proven approach allows you to refocus your software
              development. After all, software should serve to enable your
              business.
              #[a(href="{{ url_for('method') }}") Learn How]
      .columns
        .column.is-8.is-offset-2
          include _cta.pug
