{% extends "site_base.html" %}

{% block content %}
  {{ statement|safe }}
  <h2>Timeline</h2>
  <dl>
    {% for event_date, event in timeline.items()|sort|reverse %}
      <dt>
        {{ event_date|datetimeformat }}
        {% if event.end %}
          - {{ event.end|datetimeformat }}
        {% elif event.end == None %}
          - ongoing
        {% endif %}
        ({{ event.type }})
      </dt>
      <dd>
        {% if event.url %}
          <a href="{{ event.url }}">
            {{ event.name }}</a>,
        {% else %}
          {{ event.name }},
        {% endif %}
        {{ event.location }}
      </dd>
    {% endfor %}
  </dl>
{% endblock content %}
