extends site_base.pug

block content
  section.hero
    .hero-body
      .container.has-text-centered
        h1.title
          strong= entry.slogan
        .columns
          img.column.is-2(src="{{ entry.picture.url() }}")
  section.section
    .container
      .columns
        .column.is-6.is-offset-3
          .content
            p.has-text-justified= entry.description
            p.has-text-justified= entry.explanation
            #[a(href="{{ url_for('method', slug=entry.slug) }}") Learn How]
      .columns
        .column.is-8.is-offset-2
          include _cta.pug
