extends site_base.pug

block content
  section.hero
    .hero-body
      .content.has-text-centered
        h1
          strong Software Quality Consulting
        h2 3 Steps to Reliable Software
  section.section
    .container
      .columns
        .column.is-third
          .content
            h3 Strategy
            p.
              Together, we can devise a long-term strategy to focus your
              software development efforts that will allow you to create the
              most reliable and secure software.
            h4 Solutions
            ol
              li Identifying correct tools and methodologies
              li Risk Analysis
              li Developer Training
        .column.is-third
          .content
            h3 Development
            p.
              Using the latest state of the art tools and techniques, I will
              implement safe and secure software.
            h4 Areas of Expertise
            ul
              li Protocol Implementation
              li Transaction Processing
              li Message Queueing
        .column.is-third
          .content
            h3 Testing and Validation
            p.
              Cutting edge methods such as theorem proving or property based
              testing allow me to test, verify and validate the functionality
              of your software to an unprecedented degree of certainty.
            h4 Methods
            ul
              li White/Black-Box Testing
              li Property Based Testing
              li Theorem Proving
      include _cta.pug
