main {
  margin-top: 50px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

dl dt {
  font-weight: bold;
}
