<nav class="row">
  <ul class="twelve columns">
    <li>
      <a href="/index.html">
        Index</a>
    </li>
    <li>
      <a href="/projects.html">
        Projects</a>
    </li>
    <li>
      <a href="/blog_index.html">
        Blog</a>
    </li>
    <li>
      <a href="https://de.linkedin.com/in/justusperlwitz">
        LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/justuswilhelm">
        GitHub</a>
    </li>
    <li>
      <a href="mailto:hello@justus.pw">
        ✉️ E-Mail
      </a>
    </li>
    <li>
      <a href="static/justusperlwitz-pub.asc">
        🗝 PGP public key
      </a>
    </li>
  </ul>
</nav>
