<nav class="row">
  <ul class="twelve columns">
    <li>
      <a href="/index.html">
        Index</a>
    </li>
    <li>
      <a href="/projects.html">
        Projects</a>
    </li>
    <li>
      <a href="/blog_index.html">
        <span data-score="23" class="unicorn">
          Blog (new!)</span>
      </a>
    </li>
    <li>
      <a href="https://de.linkedin.com/in/justusperlwitz">
        LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/justuswilhelm">
        GitHub</a>
    </li>
  </ul>
</nav>
