{% extends "site_base.html" %}
{% block title %}
  | {{ article.title }}
{% endblock title %}
{% block header %}
{% endblock header %}
{% block nav %}
  <nav class="ten columns offset-by-one">
    <a href="/blog_index.html">
      &lt; Return to blog index
    </a>
  </nav>
{% endblock nav %}
{% block content %}
  <article class="ten columns offset-by-one">
    <h1>
      {{ article.title }}
    </h1>
    <p>
{% markdown %}
{{ article.content }}
{% endmarkdown %}
    </p>
    <small>
      Date: {{ article.created }}
    </small>
  </article>
  <nav class="ten columns offset-by-one">
    <a href="/blog_index.html">
      &lt; Return to blog index
    </a>
  </nav>
{% endblock content %}
