{% extends "site_base.html" %}
{% block title %}
  | {{ article.title }}
{% endblock title %}
{% block header %}
{% endblock header %}
{% block nav %}
  <nav class="eight columns offset-by-two">
    <a href="/blog_index.html">
      &lt; Return to blog index
    </a>
  </nav>
{% endblock nav %}
{% block content %}
  <article class="eight columns offset-by-two">
    <h1>
      {{ article.title }}
    </h1>
    <p>
      {{ article.content }}
    </p>
    <dl>
      <dt>
        Date created:
      </dt>
      <dd>
        {{ article.created }}
      </dd>
      <dt>
        Tags:
      </dt>
      <dd>
        <ul>
          {% for  tag in article.tags %}
            <li>
              {{ tag }}
            </li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </article>
  <nav class="eight columns offset-by-two">
    <a href="/blog_index.html">
      &lt; Return to blog index
    </a>
  </nav>
{% endblock content %}
