---
title: Home
---
<!doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Justus Perlwitz">
    <title>
      $pageTitle$ - $title$
    </title>
    <link
      rel="alternate"
      href="$baseUrl$$url$"
      hreflang="en">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    $partial("templates/nav.html")$
    <div class="container">
      $body$
    </div>
    $partial("templates/footer.html")$
  </body>
</html>
