{% extends "site_base.html" %}
{% block content %}
  <h2>Expertise</h2>
  <dl>
    {% for key, value in expertise.items()|sort %}
      <dt>{{ key }}</dt>
      <dd>{{ ", ".join(value) }}</dd>
    {% endfor %}
  </dl>
  <h2>Timeline</h2>
  <dl>
    {% for event_date, event in timeline.items()|sort|reverse %}
      <dt>
        {{ event_date|datetimeformat }}
        {% if event.end %}
          - {{ event.end|datetimeformat }}
        {% elif event.end == None %}
          - ongoing
        {% endif %}
        ({{ event.type }})
      </dt>
      <dd>
        {% if event.url %}
          <a href="{{ event.url }}">
            {{ event.name }}
          </a>
        {% else %}
          {{ event.name }}
        {% endif %}
        at {{ event.location }}
      </dd>
    {% endfor %}
  </dl>
{% endblock content %}
