{% extends "site_base.html" %}
{% block content %}
  <h2>Software Engineering</h2>
  <h3>Services</h3>
  <ul>
    <li>Backend Development</li>
    <li>Data Processing</li>
    <li>Rapid Application Prototyping</li>
  </ul>
  <h3>Expertise</h3>
  <dl>
    <dt>Domains</dt>
    <dd>Web Apps, Web Search, Productivity, Online Media, Mobile Apps</dd>
    <dt>Languages</dt>
    <dd>Python 2/3, Javascript, Ruby, SQL, C</dd>
    <dt>Infrastructures</dt>
    <dd>Heroku, AWS</dd>
    <dt>Methodologies</dt>
    <dd>TDD, BDD, Version Control, SCRUM, Kanban</dd>
    <dt>Databases</dt>
    <dd>PostgreSQL, MySQL, Redis</dd>
    <dt>Python</dt>
    <dd>Django, Flask, aiohttp, numpy, scipy</dd>
    <dt>Testing</dt>
    <dd>Unit and Integration Testing, Coverage Testing, Load Testing, Selenium</dd>
    <dt>Security</dt>
    <dd>Pentesting, XSS, SQL injections, Reverse engineering</dd>
  </dl>
{% endblock content %}
