{% extends "site_base.html" %}
{% block content %}
  I'm a passionate freelance developer and consultant based in Berlin. I contribute to the
  developer community by contributing to open source projects and giving talks.
  I am available for hire. Feel free to contact me.

  <h2>Backend Development</h2>
    For new and existing infrastructures, creating a robust and secure backend
    solution can be a daunting task. You need a solution that works reliably and
    makes the end-user happy. I provide consultation and implement backend
    solutions for your application.

  <h2>Data Processing</h2>
    Need to send out 1 million emails? Need to figure out churn rates or user
    retention? Is all the data there, but you need to put the puzzle pieces
    together to form a coherent view? Regardless of whether you want to find the
    data or turn your data into action, let me know how I can help you to take
    your business data to the next level.

  <h2>Expertise</h2>
  <dl>
    {% for key, value in expertise.items()|sort %}
      <dt>{{ key }}</dt>
      <dd>{{ ", ".join(value) }}</dd>
    {% endfor %}
  </dl>
{% endblock content %}
