doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Justus Perlwitz')
    title Justus Perlwitz Software Consulting
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
  body
    .container
      main.row
        .one-third.column
          h4 Contact Information
          address
            ul
              li Tel.: +44 20 3575 1031
              li='E-Mail: '
                a(href='mailto:hello✉️justus.pw') hello✉️justus.pw
        .two-thirds.column
          h1 Justus Perlwitz
          h2 Software Consulting
          h4 Services
          p I possess comprehensive skills and provide services in the following areas
          ul
            li Quickly prototyping and testing new ideas
            li Determining possible outcomes and risks in software projects
            li Measuring and learning to achieve quick progress
          h4 Focus
          ul
            li Fast and agile web application development
            li User testing and content optimisation
            li Getting things done
