doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Justus Perlwitz')
    title Justus Perlwitz Software Development
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
  body
    .container
      main.row
        .two-thirds.column
          h1 Justus Perlwitz
          h2 Software Developer
          h3 Services
          p I possess comprehensive skills and provide services in the following areas:
          ul
            li Backend development
            li Bulk data processing
            li System integration
          h4 Focus
          ul
            li Clean and fast code
            li Documentation that leaves no questions
            li Fluent communication in English, German and Japanese
          p If you think that my services can help you achieve your goals, feel free to contact me via email: 
            a(href="mailto:hello@justus.pw")='hello@justus.pw'
        .one-third.column
          h3 Contact Information
          address
            ul
              li='E-Mail: '
                a(href='mailto:hello@justus.pw') hello@justus.pw
          p Feel free to contact me and find out how I can help you achieve your goals.
          h3 GitHub
          iframe(src="http://githubbadge.appspot.com/justuswilhelm?a=0" style="border: 0;height: 142px;width: 100%;overflow: hidden;" frameBorder="0")
