---
---
<!doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Justus Perlwitz">
    <title>
      {{ site.title }}
      {% if page.title %}
        | {{ page.title }}
      {% endif %}
    </title>
    <link
      rel="alternate"
      href="{{ site.base_url }}{{ page.url }}"
      hreflang="en">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
